<!-- Introduction -->
<h1>Introduction <small>A bit of history</small></h1>
<p>
	Mendikot (pronounced as <i>Men-di-Coat</i>) is a popular game played in India, especially in the states of Gujarat and Maharashtra. "Mindi", derived from the Gujarati word મીંડું (<i>mindum</i>), meaning zero but refers to the 10 which is the only playing card including a zero. The word "kot" is a term referring to a victory in which the opponent scores nothing - a whitewash.
</p>

<!-- Players and Cards -->
<h1>Players and Cards <small>Getting Started</small></h1>
<p>
	There are 4 players in 2 teams with the partners sitting opposite from each other. The deal and play is anticlockwise. <br>
	A standard deck of 52 cards is used with the Ace having the highest rank and 2 with the lowest.
</p>

<!-- Deal and Trumps -->
<h1>The Deal and Making Trumps <small>Setting the stage</small></h1>
<p>
	The first dealer is chosen by drawing cards from a shuffled pack - it can be agreed that the player who draws the highest or the lowest card deals. The cards drawn can also be used to determine the partnerships, the players who draw the highest cards forming a team against the players who draw the lowest cards. Subsequently the dealer is always a member of the losing team of the previous deal. <br>

	The dealer shuffles and deals 13 cards to each player: first a batch of five to each and the remainder in batches of four. <br>

	There are several different methods for choosing the trump suit (hukum) - the players should decide before the start of a session which will be used. Here are three possibilities:

	<ol>
		<li>After the dealer shuffles the cards the player to right randomly draws a card and displays it to all the players. That suit (hearts, spades, diamonds or clubs) is trump for the deal. The randomly selected card is returned to pack and then the dealer deals the cards.
		<li><b>Band hukum</b> (closed trump). The player to dealer's right selects a card from his or her hand and places it on the table face down. During the play, as soon as a player is unable to follow suit, the card set aside is revealed and its suit is trump for the deal. The revealed trump card is returned to the owner's hand.
		<li><b>Cut hukum</b> Considered to be the most fun, play begins without choosing a trump suit. The first time that a player is unable to follow suit, the suit of the card that he or she chooses to play becomes trump for the deal. (Playing a trump on a plain suit lead is known as cutting.)
	</ol>
</p>

<!-- Play -->
<h1>The Play <small>Make'em weep</small></h1>
<p>
	The player to dealer's right begins by leading any card to the first trick. Players must follow suit if possible; a player who is unable to follow suit may play any card. A trick that contains no trumps is won by the highest card of the suit led. If any trumps are played, the highest trump wins. The winner of the trick gathers the cards, adds them to the pile of tricks won by his or her team, and leads to the next trick.
</p>

<!-- Scoring -->
<h1>Scoring <small>Who wins?</small></h1>
<p>
	The side that has three or four tens in its tricks wins the deal. If each side has two tens, then the winners are the team that won seven or more tricks. <br>

	Winning by capturing all four tens is known as mendikot. Taking all thriteen tricks is a 52-card mendikot or whitewash. <br>

	There seems to be no formal method of scoring. The aim is simply to win as often as possible, a win by mendikot being regarded as better than an ordinary win. <br>

	The result determines which member of the losing team should deal next, as follows:

	<ol>
		<li>If the dealer's team loses, the same player continues to deal unless they lose a whitewash (all 13 tricks), in which case the deal passes to the dealer's partner.
		<li>If the dealer's team wins, the turn to deal passes to the right.
	</ol>
</p>