<h3>Contributors</h3>

<br>

<p>
	<h4>Siddharth Sakhadeo</h4>
	<p>
		Pursuing MS in CS at UT Dallas. Web developer, music lover, foodie and overall geek.
	</p>
</p>
<p>
	<h4>Ashwin Mishra</h4>
	<p>
		About Mishra
	</p>
</p>

<br>

<h3>Contact Us</h3>
<p>
	If you have questions, comments or just wanna say hi!
</p>

<form role="form">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" placeholder="What do you call yourself?">
	</div>
	<div class="form-group">
		<label for="email">Email Address</label>
		<input type="email" class="form-control" id="email" placeholder="How do people send you cute images of cats?">
	</div>
	<div class="form-group">
		<label for="message">Message:</label>
		<textarea class="form-control" rows="4" id="message" placeholder="Feel free to be a chatterbox!"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>